..Rcheck
.*.swp
.DS_Store
.RData
.Rhistory
.swp
*.log
biodbLipidmaps_*.tar.gz
biodbLipidmaps_*.tgz
biodbLipidmaps.Rcheck
cache
cache*
check.Renviron
doc
longtests/*/output
Meta
Renviron.bioc
src-i386
src-x64
src/*.rds
tests/*/output
tests/testthat/output
testthat-problems.rds
vignettes/*.html
vignettes/*.md
vignettes/*.R
/doc/
/Meta/
